.nav {
  font-family: 'Rajdhani', sans-serif;
}
.navbar-brand {
  margin: 0px 20px;
}
.navbar {
  background-color: #353535;
  z-index: 999;
}
.navbar a {
  color:#FFFFFF;
  font-family: 'Rajdhani', sans-serif;
}
.navbar-toggle {
  background-color: #353535;
}
.icon-bar {
  background:#FFFFFF;
}
