<div class="gallert-cancel">
  <div class="control-btn-cancel" (click)="onCancel()"><md-icon>close</md-icon></div>
</div>
<div class="gallery-container">
  <div class="control-btn" (click)="onPrev()" ><md-icon>keyboard_arrow_left</md-icon></div>
  <div class="control-btn" (click)="onZoomIn()"><md-icon>zoom_in</md-icon></div>
  <div class="control-btn" (click)="onZoomOut()"><md-icon>zoom_out</md-icon></div>
  <div class="control-btn" (click)="onRotate()"><md-icon>rotate_right</md-icon></div>
  <div class="control-btn" (click)="onNext()"><md-icon>keyboard_arrow_right</md-icon></div>
</div>
